/build/
/chronix
/agent
/chronix-agent
/cmd/chronix-agent/chronix-agent
/cmd/chronix-agent/build/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log
*.pem
*.key
*.keys
*.db
*.db-shm
*.db-wal
/.master_key
/.output.txt
!internal/db/assets/schema.db
.DS_Store
Thumbs.db
/.idea/
/licgen
/dev/cxrelease/chronix-*
/dev/cxrelease/agent-*
/dev/cxrelease/cxrelease
/dev/cxrelease/chronix.keys
/dev/cxrelease/latest.json
/dev/cxrelease/versions.json
/dev/cxrelease/builds/
/dev/chronix_tester/chronix_tester
/dev/chronix_tester/chronix-tester
/dev/chronix_tester/*.db
